@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #1f2937; 
}

.header {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    margin-bottom: 65px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-left: 25px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a, .subtext, .placeholder {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 350;
}

.hook {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 3px;
}

.signup {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    width: 140px;
    margin-top: 10px;
}

.placeholder {
    width: 500px;
    height: 200px;
    background-color: rgb(100, 102, 110);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 100px;
    margin-bottom: 100px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.hero-right {
    width: 30%;
}

h1, p {
    margin: 0;
}

.info {
    margin-top: 50px;
    margin-bottom: 100px;
}

.info-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 50px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-text {
    text-align: center;
    color: rgb(83, 82, 82);
    width: 150px;
    margin-top: 5px;
}

.box-shape {
    height: 150px;
    width: 150px;
    border: 4px solid rgb(76, 128, 212);
    border-radius: 15px;
}

.quote-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    margin-bottom: 100px;
}

.quote {
    margin-top: 150px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    width: 50%;
}

.author {
    font-weight: 900;
    font-size: 24px;
    margin-top: 25px;
    margin-left: 650px;
    color: #1f2937;
    margin-bottom: 100px;
}

.action {
    border: none;
    height: 140px;
    width: 1200px;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.action-header, .action-text {
    color: #f9faf8;
}

.action-header {
    font-size: 26px;
    font-weight: 700;
}

.action-text {
    font-size: 18px;
    font-weight: 350;
}

.action-signup {
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    width: 140px;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 16px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}